<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ionerednew_AnalogFinder>
            <version>1.0.0</version>
        </Ionerednew_AnalogFinder>
    </modules>
    <frontend>
        <translate>
            <modules>
                <analogFinder>
                    <files>
                        <default>Ionerednew_AnalogFinder.csv</default>
                    </files>
                </analogFinder>
            </modules>
        </translate>
        <layout>
            <updates>
                <AnalogFinder module="Ionerednew_AnalogFinder">
                    <file>ionerednew/analog_finder.xml</file>
                </AnalogFinder>
            </updates>
        </layout>
        <routers>
            <analog_finder>
                <use>standard</use>
                <args>
                    <module>Ionerednew_AnalogFinder</module>
                    <frontName>analog-finder</frontName>
                </args>
            </analog_finder>
        </routers>
    </frontend>
    <global>
        <models>
            <analogFinder>
                <class>Ionerednew_AnalogFinder_Model</class>
                <resourceModel>analogFinder_resource</resourceModel>
            </analogFinder>
            <analogFinder_resource>
                <class>Ionerednew_AnalogFinder_Model_Resource</class>
                <entities>
                    <analogBrand>
                        <table>analog_brand</table>
                    </analogBrand>
                    <analogProduct>
                        <table>analog_product</table>
                    </analogProduct>
                </entities>
            </analogFinder_resource>
        </models>
        <resources>
            <analogFinder_setup>
                <setup>
                    <module>Ionerednew_AnalogFinder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <connection>core_setup</connection>
                </setup>
            </analogFinder_setup>
        </resources>
        <helpers>
            <analogFinder>
                <class>Ionerednew_AnalogFinder_Helper</class>
            </analogFinder>
        </helpers>
        <blocks>
            <analogFinder>
                <class>Ionerednew_AnalogFinder_Block</class>
            </analogFinder>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <analogFinder>
                    <files>
                        <default>Ionerednew_AnalogFinder.csv</default>
                    </files>
                </analogFinder>
            </modules>
        </translate>
        <layout>
            <updates>
                <AnalogFindera>
                    <file>ionerednew/analog_finder.xml</file>
                </AnalogFindera>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <analogFinder before="Mage_Adminhtml">Ionerednew_AnalogFinder_Adminhtml</analogFinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
    </default>
</config>

